.superpowers/
bin/
obj/
artifacts/
publish/
/build/HUnityAutoTranslator/
/build/HUnityAutoTranslator-il2cpp/
/build/HUnityAutoTranslator-llamacpp-*/
/build/HUnityAutoTranslator-*.zip
/build/.cache/
/build/.control-panel-build/
/src/HUnityAutoTranslator.ControlPanel/node_modules/
/src/HUnityAutoTranslator.ControlPanel/dist/
*.user
*.suo
*.tmp
